body {
    width: 100%;
    background-color: #E5E5E5;
    font-family: 'Public Sans', sans-serif;
    color: black;
    font-size: 14px;
    font-weight: 500;
}
.wrapper {
    min-width: 700px;
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
    padding: 3% 5%;
}
.info1, .red {
    margin-top: 40px;
    margin-bottom: 25px;
}
.red {
    color: red;
}
.level_1, .level_2 {
    width: 100%;
    height: auto;
    display: flex;
    margin: 30px auto 20px;
    justify-content: space-between;
}
.level_1_1, .level_1_2 {
    width: 47%;
    height: auto;
}
input, select {
    width: 100%;
    height: 35px;
    border: 1px #ADADAD solid;
    border-radius: 4px;
    margin-bottom: 25px;
    margin-top: 3px;
    box-sizing: border-box;
}
input[type="checkbox"] {
    width: 25px;
    height: 25px;
    margin-top: 95px;
    align-items: center;
}
.app1 input {
    color: #0050D8;
}
.app1 ::placeholder {
    color: #0050D8;
}
.back {
    background-color: #EFEFEF;
}
.nazva {
    margin: 0;
    position: relative;
    bottom: 9px;
}
.ch1 {
    box-sizing: border-box;
    margin-top: 95px;
    margin-bottom: 9px;
}
.ch2 {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    margin-top: 10px;
}
.ch3 input[type="checkbox"] {
    margin-top: 20px;  
}
form input[type="checkbox"] {
    margin-top: 0;
}
.bord {
    width: 100%;
    border-bottom: 2px #D1D1D1 solid;
    margin-bottom: 40px;
}
.level_2 {
    height: 70px;
}
input[type="search"] {
    background-image: url(../Pict/Vector.png);
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
}
input[type="text"] {
    background-image: url(../Pict/Vector1.png);
    background-size: 2.3%;
    background-repeat: no-repeat;
    background-position-x: 99%;
    background-position-y: 50%;
}
a {
    width: 60px;
    height: 30px;
    color: #EFEFEF;
    font-size: 120%;
    background-color: #0050D8;
    border: 1px #0050D8 solid;
    border-radius: 4px;
    box-sizing: border-box;
    text-decoration: none;
    padding: 5px 10px;
    float: right;
    margin-top: -20px;
}
